.technologies {
    background-color: #4831d4;
    width: 100%;
    height: 100vh;
    font-size: 1.2vw;
}

.title {
    padding: 5vw;
    color: #ccf381;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills h2 {
    color: #ccf381;
}

.card {
    width: 25%;
    height: 70%;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconTec {
    margin-top: 5%;
    font-size: 3vw;
    background-color: #ccf381;
    border-radius: 10vh; /* Define a borda normal */
    box-shadow: 0 0 0 0.8vw #ccf381 /* Define uma sombra extra ao redor da borda */  
}

.linguagens { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.linguagens h1 {
    font-size: 1.5vw;
    padding-bottom: 5%;
}

.linguagens h2 {
    padding-bottom: 5%;
}

.linguagens h3, .linguagens h2 {
    font-size: 1vw;
}