.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth; /* Adicione esta linha */
}

.perfil {
  scroll-snap-align: start;
  height: 80%;
  width: 100%;
}

.projects,
.technologies {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.projects {
  background-color: #f8f8ff;
  width: 100%;
  height: 100vh;
}

.technologies {
  color: white;
  font-size: 5em;
}

@media screen and (max-width: 1100px) {
  .projects {
    height: 150%;
  }
}

@media screen and (max-width: 650px) {
  .perfil {
    height: 110%;
  }

  .projects {
    height: 250%;
  }

  .technologies {
    height: 200%;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    height: 270%;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    height: 300%;
  }
}